.about {
  color: $secondary-color;
  padding-top: 44px;
  padding-bottom: 86px;
}

.section-title__position {
  margin-bottom: 64px;
}

.about-info {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 380px;
    padding-left: 82px;
    background-repeat: no-repeat;
    background-position-x: 18px;
    background-position-y: 6px;
    &:not(:nth-child(1n + 4)) {
      margin-bottom: 100px;
    }
  }
  &__title {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    font-family: $secondary-font;
    color: #999999;
    width: 280px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
  &__item_alarm {
    background-image: url(../images/icons/ALARM.svg);
  }
  &__item_line-graph {
    background-image: url(../images/icons/LINE_GRAPH.svg);
  }
  &__item_computer {
    background-image: url(../images/icons/COMPUTER.svg);
  }
  &__item_book {
    background-image: url(../images/icons/BOOK.svg);
  }
  &__item_home {
    background-image: url(../images/icons/HOME.svg);
  }
  &__item_image {
    background-image: url(../images/icons/IMAGE.svg);
  }
}
