.header {
  background-image: linear-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(243, 129, 129, 0.9)),
      to(rgba(252, 227, 138, 0.9))
    ),
    url(../images/Header-bg.jpg);
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../images/Header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: $main-color;
  padding-bottom: 226px;
  padding-top: 24px;

  &__title {
    font-family: $main-font;
    @include font-arguments(150px, 700, 0.93);
    text-transform: uppercase;
    width: 840px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 114px;
  }
  &__content-btn {
    font-family: $main-font;
    color: $main-color;
    border: solid 3px rgb(255, 255, 255);
    background-color: transparent;
    width: 160px;
    height: 40px;
    margin: 0 auto;
  }
  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../images/Header-bg@2x.jpg);
  }
}
.navigation {
  display: flex;
  & :hover {
    color: #fce38a;
    fill: #fce38a;
    transition: all 200ms linear;
  }
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: $main-font;
}
.navigation-position {
  margin-bottom: 150px;
}
.navigation-list {
  display: flex;
  &__item:not(:last-child) {
    margin-right: 56px;
  }
  &__link {
    @include font-arguments(14px, 400);
    color: $main-color;
    text-transform: uppercase;
    &:hover::after {
      @extend %header-nav-hover-after;
    }
    &::after {
      @extend %header-nav-after;
    }
  }
}
.navigation-btn {
  &__item-svg {
    fill: $main-color;
  }
  &:hover::after {
    @extend %header-nav-hover-after;
  }
  &::after {
    @extend %header-nav-after;
  }
}
.navigation-btn-list {
  display: flex;
  padding-left: 50px;
  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-logo__link {
  @include font-arguments(30px, 700);
  color: $main-color;
}

.description {
  font-family: $title-description-font;
  @include font-arguments(72px, 400);
  margin-bottom: 36px;
}
