.team {
  padding-bottom: 84px;
}
.section-title__position-team {
  margin-bottom: 40px;
}

.team-description {
  font-family: $secondary-font;
  font-size: 15px;

  color: #999999;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  &__wripper {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 86px;
  }
}

.team-member {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__list-wrapper {
    position: relative;
    transition: all 200ms linear;
  }
  &__name {
    font-family: $main-font;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 4px;
  }
  &__position {
    font-style: $secondary-font;
    font-style: italic;
    text-align: center;
    color: #999999;
    font-weight: 400;
    line-height: 24px;
  }
  &__list-item:hover {
    .overlay {
      opacity: 1;
      visibility: visible;
      box-shadow: rgb(149, 225, 211) 10px 10px;
    }
  }
  &__list-item:hover {
    .team-member__list-wrapper {
      transform: translate(-10px, -10px);
    }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms linear;
}
.overlay-list {
  display: flex;
  &__item:not(:last-child) {
    margin-right: 1px;
  }
  &__item-link {
    display: flex;
    align-items: center;
    background-color: rgb(252, 227, 138);
    width: 56px;
    height: 56px;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      background-color: rgb(243, 129, 129);
      .social-svg {
        fill: #ffffff;
      }
    }
  }
}

.social-svg {
  fill: rgb(243, 129, 129);
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
