.section-title__lower-item {
  @include font-arguments(30px, 700);
  text-align: center;
  text-transform: uppercase;
  font-family: $main-font;
}
.section-title__upper-item {
  @include font-arguments(24px, 400);
  display: flex;
  justify-content: center;
  font-family: $title-description-font;
  text-transform: none;
  margin-bottom: 14px;
}
.section-title::after {
  display: flex;
  width: 60px;
  content: '';
  height: 3px;
  background-color: #f38181;
  margin: auto;
  margin-top: 36px;
}
