.section-title__lower-item {
  text-align: center;
  text-transform: uppercase;
  font-family: $main-font;
  font-size: 30px;
  font-weight: 700;
}
.section-title__upper-item {
  display: flex;
  justify-content: center;
  font-family: $title-description-font;
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 14px;
}
.section-title::after {
  display: flex;
  width: 60px;
  content: '';
  height: 3px;
  background-color: #f38181;
  margin: auto;
  margin-top: 36px;
}
